<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Triggers.Properties.Settings.IConnectionString" connectionString="Provider=SQLNCLI11;Data Source=GRCTSLSQL0;Persist Security Info=True;Password=options23;User ID=sa_config;Initial Catalog=SL_NOVB_App"
            providerName="System.Data.OleDb" />
        <add name="Triggers.Properties.Settings.I2ConnectionString" connectionString="server=GRCTSLSQL0;Password=options23;User ID=sa_config;Initial Catalog=SL_NOVB_App"
            providerName="System.Data.OleDb" />
        <add name="Triggers.Properties.Settings.TA_AppConnectionString"
            connectionString="Data Source=grctslsql0;Initial Catalog=SL_NOVB_App;Persist Security Info=True;User ID=sa_config;Password=options23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>